<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap centerWithMargin">
        <ul class="nav me-auto">
            <NavLink class="nav-link link-dark px-2" href="/">
                GENERÁTOR TÝMŮ VEDOUCÍCH
            </NavLink>
            <NavLink class="nav-link link-dark px-2" href="/generator">
                Generátor týmů
            </NavLink>
            <NavLink class="nav-link link-dark px-2" href="/manual">
                Návod
            </NavLink>
        </ul>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
