table {
    width: 100%;
}

td, th {
    border: solid black 1px;
    text-align: center;
    font-size: 15px;
    padding: 6px;
}

h2 span {
    font-size: 13px
}


.verticalTableHeader {
    /* text-align: center; */
    /* white-space: nowrap; */
    /* transform-origin: 50% 50%; */
    transform: rotate(-90deg);
    letter-spacing: 1px;
}

    .verticalTableHeader:before {
        content: '';
        padding-top: 70px; /* takes width as reference, + 10% for faking some extra padding */
        display: inline-block;
        vertical-align: middle;
    }
