table {
    width: 100%;
}

td, th {
    border: solid black 1px;
    text-align: center;
    font-size: 15px;
    padding: 6px;
}

h2 span {
    font-size: 13px
}

.together th {
    width: calc(100% / 13);
}

.together > tr:first-child {
    height: 80px;
}

.verticalTableHeader {
    /* text-align: center; */
    /* white-space: nowrap; */
    /* transform-origin: 50% 50%; */
    transform: rotate(-90deg);
    letter-spacing: 1px;
    display: flex;
    height: 20px;
    justify-content: center;
}