table {
    width: 100%;
}

td, th {
    border: solid #6c757d 1px;
    text-align: center;
    font-size: 15px;
    padding: 6px;
}

h2 span {
    font-size: 13px
}

.bottomHigher {
    border-bottom: solid #6c757d 2px;
}

.together th {
    width: calc(100% / 13);
}

.together > tr:first-child {
    height: 80px;
}

td > img, td .teamLook {
    display: none;
}

#seznamVedoucich td:hover img, #generovaniVedouci td:hover img {
    display: block;
    position: absolute;
    margin-top: -60px;
    margin-left: 80px;
    width:50px;
}

#generovaniVedouci td:hover .teamLook {
    display: block;
    position: relative;
}


.verticalTableHeader {
    /* text-align: center; */
    /* white-space: nowrap; */
    /* transform-origin: 50% 50%; */
    transform: rotate(-90deg);
    letter-spacing: 1px;
    display: flex;
    height: 20px;
    justify-content: center;
}