@inherits LayoutComponentBase

<div class="page">

    <main>

        <NavMenu />

        <div class="content">
            <div class="container centerWithMargin">
                @Body
            </div>
        </div>

    </main>

</div>
