table {
    width: 100%;
}

td, th {
    border: solid #6c757d 1px;
    text-align: center;
    font-size: 15px;
    padding: 6px;
}

h2 span {
    font-size: 13px
}

.bottomHigher {
    border-bottom: solid #6c757d 2px;
}

.together th {
    width: calc(100% / 13);
}

.together > tr:first-child {
    height: 80px;
}

td > img, td .teamLook {
    display: none;
}

#seznamVedoucich td:hover img {
    display: block;
    position: absolute;
    margin-top: -60px;
    margin-left: 80px;
    width:170px;
    border: black 5px solid;
    border-radius: 3px;
}

#generovaniVedouci td:hover .teamLook {
    display: flex;
    position: absolute; 
    margin-top: -0px;
    margin-left: 70px;
    /*width: 60px;*/
    border: 10px solid black;
    background-color: black;
    max-width: 1240px;
}

.hoverTeam {
    margin-right: 10px;
}

.avatar {
    height: 130px
}


.verticalTableHeader {
    /* text-align: center; */
    /* white-space: nowrap; */
    /* transform-origin: 50% 50%; */
    transform: rotate(-90deg);
    letter-spacing: 1px;
    display: flex;
    height: 20px;
    justify-content: center;
}

