@page "/manual"


    <div class="row">
        <div class="col-12">

            <h1>Návod k použití</h1>
            <p>Ahoj, pravděpodobně jsi zavítal na tuhle stránku, protože se zajímá, co všechno tahle věcička umí a jak se toho dá využít. Je to vcelku jednoduché...</p>
            
            <h2>Vedoucí k dispozici</h2>
            <p>Tady v téhle nabídce můžeš nastavit, kteří vedoucí mají být vůbec aktivní a v případě že se tam nachází někdo, kdo ještě na žádném táboře nebyl, můžeš využít poslední kolonku "Nový", kde si můžeš kliknutím na červenou/modrou barvu nastavit pohlaví.</p>

            <h2>Mohou být spolu</h2>
            <p>Tohle je asi nejzajímavější část celého projektu. Zde máš možnost si nastavit kteří vedoucí spolu musí/nesmí být. Stačí kliknout na průnik jmen.</p>
            <p>Pro jednodušší orientaci máš v tabulce rovnou napsáno, kdy naposledy spolu vedoucí byli.</p>
            <p>Růžová barva značí, že je aplikováno automatické pravidlo, které se dá upravit hned pod touto tabulkou. Stačí v sekci "Nastavení kombinačního algoritmu" změnit minimální počet let, než spolu budou moci 2 vedoucí znovu být.</p>

            <h2>Nastavení kombinačního algoritmu</h2>
            <p>Zde je pár zajímavých věcí, které mohou celým generováním zamíchat. Mezi tu nejdůležitější patří nastavení pravidla vyváženosti pohlaví. Pokud jej zapneš (a máš alespoň 4 kluky a holky k dispozici), každý tým bude vždy obsahovat jednoho kluka a jednu holku. Vypnutím toho pravidla umožníš i tvorbu týmů, které mohou být složeny pouze z kluků/holek.</p>
            <p>Další řádek říká, kolik let musejí být vedoucí od sebe, než mohou být zas spolu. Všimni si, že změnou čísla v tomto řádku se mění i růžové pozadí automatických pravidel v tabulce výše.</p>
            <p>Maximální čas generování říká, jak dlouho může generování probíhat. Může se totiž stát, že půjde vytvořit tolik kombinací, že to bude prostě trvat dlouho. Z toho důvodu je omezeno generování na 10 sekund/maximálně 100 výsledků.</p>
            <p>Tlačítka pod touto tabulkou Ti umožnují uložit aktuální nastavení pro pozdější použití. Měj na paměti, že se nastavení ukládá do paměti prohlížeče a nebude tedy přístupné nikomu jinému.</p>

            <h2>Vytvořené možnosti a připnuté kombinace</h2>
            <p>Tlačítkem "Vygenerovat možnosti" se spustí generování a zobrazí seznam všech nalezených možností. Po najedí myší na rok se zobrazí fotky vedoucích tak jak by to mohlo vypadat, když budou stát u sebe.</p>
            <p>Pokud chceš upravovat nastavení generování, můžeš si uložit řádek co se Ti líbí pomocí zaškrtávacího okýnka vlevo. Daný řádek se pak vloží do sekce "Připnuté kombinace".</p>

            <h2>Aktivní roky</h2>
            <p>Co víc tady psát. V této sekci vidíš, jak spolu vedoucí byli minulé roky. Zde nelze nic upravit.</p>
            <p>P.S. Když budeš mít nějaké otázky, neváhej mě kontaktovat skrze můj <a href="https://github.com/pokornysimon/Teamer">GitHub</a> :)</p>

        </div>
    </div>


@code {

}
